*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
}
.container{
    border: 0.5rem solid orange;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.container div{
    width: 30rem;
    height: 9rem;
}